@page "/userinfos/create"
@using Microsoft.EntityFrameworkCore
@using Triolingo.Domain
@inject IDbContextFactory<Triolingo.Data.TriolingoContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>UserInfo</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="UserInfo" OnValidSubmit="AddUserInfo" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="firstname" class="form-label">FirstName:</label> 
                <InputText id="firstname" @bind-Value="UserInfo.FirstName" class="form-control" /> 
                <ValidationMessage For="() => UserInfo.FirstName" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="lastname" class="form-label">LastName:</label> 
                <InputText id="lastname" @bind-Value="UserInfo.LastName" class="form-control" /> 
                <ValidationMessage For="() => UserInfo.LastName" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="email" class="form-label">Email:</label> 
                <InputText id="email" @bind-Value="UserInfo.Email" class="form-control" /> 
                <ValidationMessage For="() => UserInfo.Email" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/userinfos">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private UserInfo UserInfo { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddUserInfo()
    {
        using var context = DbFactory.CreateDbContext();
        context.UserInfo.Add(UserInfo);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/userinfos");
    }
}
