
.header {
    color: white;
    text-align: center;
    margin-top: 100px;
}

/* Style for the paragraph */
.subheading {
    color: white;
    text-align: center;
    margin-top: 20px;
}

/* Remove margin for header and paragraph */
h1, p {
    margin: 0;
}

h1 {
    margin-top: 100px;
}

p {
    margin-top: 20px;
}

.box-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px; /* space between the heading and the boxes */
    width: 70%; /* Adjust width to your preference */
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.5s ease; /* This enables smooth transition */
}

.box-container.move-down {
    transform: translateY(300px); /* Adjust the distance as needed */
}

.box {
    background-color: #fff; /* Light background */
    color: black;
    width: 30%; /* Each box takes 30% of the container width */
    height: 300px; /* Fixed height for the boxes */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Optional shadow */
    text-align: center;
    border: 1px solid black;
}