@page "/"
@using Triolingo.Components.Layout
@layout CustomLayout
<PageTitle>Home</PageTitle>

<h1 style="color: white; text-align: center;">Want to learn a language?</h1>
<p style="color: white; text-align: center;">Welcome to Triolingo</p>

<div class="box-container">
    <div class="box">Language 1</div>
    <div class="box">Language 2</div>
    <div class="box">Language 3</div>
</div>


@code { //everything below and the css part of this code is still a work in progress aka it doesnt work
    private string boxClass = ""; // Default class (no movement)

    private void MoveBoxesDown()
    {
        // Toggle the class to move boxes down
        boxClass = "move-down";
    }
}