@page "/languages"
@using Triolingo.Components.Layout
@layout MainLayout
<PageTitle>Languages</PageTitle>

<h1 style="color: white; text-align: center;">Languages</h1>

<div class="box-container">
    <div class="box">
        <h2>Japanese</h2>
        <p>This is the description for Language 1. Here you can include details, such as how to learn the language, its features, etc.</p>
    </div>
    <div class="box">
        <h2>Chinese</h2>
        <p>This is the description for Language 2. You can provide information such as resources, tips, or general description of the language.</p>
    </div>
</div>

@code {

}
