@page "/Login"
@using Microsoft.AspNetCore.Identity
@using Triolingo.Data
@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject UserManager<TriolingoUser> UserManager
@inject RoleManager<IdentityRole> RoleManager
@inject SignInManager<TriolingoUser> SignInManager

<PageTitle>Triolingo</PageTitle>
<header>
    <h2 class="logo">Triolingo</h2>
    <nav class="navigation">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/services">Services</a>
        <a href="/contact">Contact</a>
        <button class="btnLogin-popup" onclick="location.href='homelogin'">Login</button>
    </nav>
</header>

<main>
    <div class="top-row px-4">
        
    </div>

    <article class="content px-4">
        @Body
    </article>
</main>

@code {
    private async Task LogToConsole(string message)
    {
        await JSRuntime.InvokeVoidAsync("console.log", message);
    }
 
    private async Task GoToHome()
    {
        await LogToConsole("About link clicked!");
        NavigationManager.NavigateTo("/");
    }
    private async Task GoToAbout()
    {
        await LogToConsole("About link clicked!");
        NavigationManager.NavigateTo("/about");
    }
    private async Task GoToServices()
    {
        await LogToConsole("Services link clicked!");
        NavigationManager.NavigateTo("/services");
    }
    private async Task GoToContact()
    {
        await LogToConsole("Contacts link clicked!");
        NavigationManager.NavigateTo("/contact");
    }
}